<ngx-carousel [inputs]="carouselOne" (carouselLoad)="myfunc($event)">
  <ngx-item NgxCarouselItem>
    <div style="background-color: #ccc;background-size: cover!important;background: url('assets/images/1.jpg'); height:620px">
    </div>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <div style="background-color: #ccc;background-size: cover!important;background: url('assets/images/2.jpg'); height:620px">
    </div>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <div style="background-color: #ccc;background-size: cover!important;background: url('assets/images/3.jpg'); height:620px">
    </div>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <div style="background-color: #ccc;background-size: cover!important;background: url('assets/images/4.jpg'); height:620px">
    </div>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <div style="background-color: #ccc;background-size: cover!important;background: url('assets/images/5.jpg'); height:620px">
    </div>
  </ngx-item>
  <button NgxCarouselPrev class='leftRs'>&lt;</button>
  <button NgxCarouselNext class='rightRs'>&gt;</button>
</ngx-carousel>
